body{

  background-color: #FFF6EA;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: black;
  border-width: 5px;
  width: 5%;
}



.Red{
  color: #FD5D5D;
}

.English-Title{
  color: rgba(43,37,164,1);
}

.black{
  color:black;
}

.Title{
  font-size: 18px;
  padding:20px;
  margin: 10px;
  text-align: center;
}

h4{
  font-size: 20px;
}

.BD{
  font-size: 20px;
}

.middle{
  font-size: 25px;
}

.main_address{
  font-size: 23px;
}

.email{
  font-size: 19px;
}

.branch{
  font-size: 19px;
}

h3{
  font-size: 25px;
}

.trustee_members{
  font-size: 20px;
}

.first-image{
  width: 380px;
  display: inline-block;
  position: relative;
  left:20px;
  text-align: center;
}

.Data-bet-images{
  width: 215px;
  display: inline-block;
  position: relative;
  bottom: 150px;
  text-align: center;
}

.second-image{
  width: 380px;
  display: inline-block;
  position:relative;
  left: 30px;
  bottom: 30px;
  text-align: center;
}

.pad{
  padding:20px;
  margin: 10px;
}

.Address{
  text-align: center;
}
